{% extends 'base.html' %}
{% block html_body %}
<br><br> <br>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 pl-lg-5">
                <img class="img-fluid mb-4" src="/static/image/Communication/Communication-Logo.png" alt="..."
                     style="max-width: 4rem;">
                <h1 class="hero-heading mb-0" style="font-family: Jua">소통하면서 친해져요!</h1>
                <div class="text-block">
                </div>
                <div class="text-block">
                    <h4 class="mb-5" style="font-family: Jua">제목</h4>
                    <p class="text-muted" style="font-family: Jua">{{ communication.com_title }}</p>

                </div>
                <div class="text-block">
                    <h4 class="mb-5" style="font-family: Jua">내용</h4>
                    <p class="text-muted" style="font-family: Jua">{{ communication.com_content }}</p>
                </div>
                <br>
                {% if communication.c_writer_id == user.id %}
                <button class="btn btn-outline-primary" type="button"
                        data-toggle="collapse"
                        data-target="#updatePassword" aria-expanded="false" aria-controls="updatePassword"
                        style="font-family: Jua">수정 하기
                </button>
                <div class="collapse" id="updatePassword">
                    <form method="post">  <!-- 폼 추가 -->
                        {% csrf_token %}
                        <div class="row mt-4">
                            <div class="form-group col-12">
                                <label class="form-label" for="password-current"
                                       style="font-family: Jua">제목</label>
                                {{ editcommunication_form.com_title }}
                            </div>
                            <div class="form-group col-12">
                                <label class="form-label" for="password-current"
                                       style="font-family: Jua">내용</label>
                                {{ editcommunication_form.com_content }}
                            </div>
                        </div>
                        <button class="btn btn-outline-primary" style="font-family: Jua" type="submit">수정 하기
                        </button>
                    </form>
                </div>
                <!-- 삭제 버튼 -->
                <form method="post" style="display: inline;">
                    {% csrf_token %}
                    <button class="btn btn-outline-primary text-danger" type="submit" name="delete" value="delete"
                            style="font-family: Jua">삭제 하기
                    </button>
                </form>
                {% endif %}
                <div class="text-block">
                    <h5 class="mb-4" style="font-family: Jua">댓글 목록 </h5>
                    {% for comment in comments %}
                    <div class="media d-block d-sm-flex review">
                        <div class="text-md-center mr-4 mr-xl-5">
                            <img class="d-block avatar avatar-xl p-2 mb-2" src="/static/image/User_02.png"
                                 alt="">
                        </div>
                        <div class="media-body">
                            <h6 class="mt-2 mb-1">{{ comment.cc_commenter.u_nickname }}</h6>
                            <p class="text-muted text-sm"
                               style="font-family: Jua">{{ comment }}</p>
                        </div>
                        {% if comment.cc_commenter_id == user.id %}
                        <form method="POST" action="">
                            {% csrf_token %}
                            <!-- 다른 필드들... -->
                            <input type="hidden" name="delete_comment" value="{{ comment.id }}">
                            <button class="btn btn-outline-primary" data-toggle="collapse" type="submit"
                                    style="font-family: Jua">삭제
                            </button>
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="py-5">
                        <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                                data-target="#leaveReview" aria-expanded="false" aria-controls="leaveReview"
                                style="font-family: Jua">댓글 작성
                        </button>
                        <div class="collapse mt-4" id="leaveReview">
                            <h5 class="mb-4" style="font-family: Jua">댓글 작성</h5>
                            <form class="form" id="contact-form" method="POST"
                                  action="{% url 'Communication-detail' id=communication.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="review" style="font-family: Jua">댓글 *</label>
                                    {{ c_comment_form.cc_content }}
                                </div>
                                <button class="btn btn-primary" type="submit" style="font-family: Jua">제출하기
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}