<!-- Footer-->
<footer class="position-relative z-index-10 d-print-none">
    <!-- Main block - menus, subscribe form-->
    <div class="py-6 bg-gray-200 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="font-weight-bold text-uppercase text-dark mb-3" style="font-family: Jua">팀원</div>
                    <p style="font-family: Jua">양동현(팀장)</p>
                    <p style="font-family: Jua">조재영</p>
                    <p style="font-family: Jua">김혁태</p>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase text-dark mb-3" style="font-family: Jua">아동심리 페이지</h6>
                    <p class="mb-3" style="font-family: Jua">저희 3조 프로젝트는 아동을 대상으로 미술치료를 합니다.</p>
                    <form action="#" id="newsletter-form">
                        <div class="input-group mb-3">
                            <!-- 여기에 뉴스레터 폼 추가 -->
                        </div>
                    </form>
                    <div>
                        <ul class="list-inline">
                            <!-- 이미지 크기 조절 -->
                            <li class="list-inline-item"><img src="/static/image/footer1.png" style="width: 10%;">
                            </li>
                            <li class="list-inline-item"><img src="/static/image/footer2.png" style="width: 10%;">
                            </li>
                            <li class="list-inline-item"><img src="/static/image/footer3.png" style="width: 10%;">
                            </li>
                            <li class="list-inline-item"><img src="/static/image/footer4.png" style="width: 10%;">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright section of the footer-->
    <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
        <div class="container">
            <div class="row align-items-center">
                <!-- 여기에 추가적인 내용을 넣을 수 있습니다. -->
            </div>
        </div>
    </div>
</footer>