<!-- Footer-->
<footer class="position-relative z-index-10 d-print-none">
    <!-- Main block - menus, subscribe form-->
    <div class="py-6 bg-gray-200 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="font-weight-bold text-uppercase text-dark mb-3" style="font-family: Jua">팀원</div>
                    <p style="font-family: Jua">양동현(팀장)</p>
                    <p style="font-family: Jua">조재영</p>
                    <p style="font-family: Jua">김혁태</p>
                </div>

                <div class="col-lg-4">
                    <h6 class="text-uppercase text-dark mb-3" style="font-family: Jua">팀명</h6>
                    <p class="mb-3" style="font-family: Jua">우리아이가 착해졌어요</p>
                    <h6 class="text-uppercase text-dark mb-3" style="font-family: Jua">주제</h6>
                    <p class="mb-3" style="font-family: Jua">아동의 심리검사에 쓰이는 HTP 그림 데이터를 수집하고, 딥러닝 기술을 활용해 자동으로 분석해주는 플랫폼을
                        개발 하기 위한 프로젝트</p>
                    <form action="#" id="newsletter-form">
                        <div class="input-group mb-3">
                            <!-- 여기에 뉴스레터 폼 추가 -->
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <ul class="list-inline">
                        <!-- 이미지 크기 조절 -->
                        <li class="list-inline-item"><img src="/static/image/footer/footer1.png" style="width: 10%;">
                        </li>
                        <li class="list-inline-item"><img src="/static/image/footer/footer2.png" style="width: 10%;">
                        </li>
                        <li class="list-inline-item"><img src="/static/image/footer/footer3.png" style="width: 10%;">
                        </li>
                        <li class="list-inline-item"><img src="/static/image/footer/footer4.png" style="width: 10%;">
                        </li>
                        <li class="list-inline-item"><img src="/static/image/footer/footer5.png" style="width: 10%;">
                        </li>
                        <li class="list-inline-item"><img src="/static/image/footer/footer6.png" style="width: 10%;">
                        </li>
                        <li class="list-inline-item"><img src="/static/image/footer/footer7.png" style="width: 10%;">
                        </li>
                        <li class="list-inline-item"><img src="/static/image/footer/footer8.png" style="width: 10%;">
                        </li>
                        <li class="list-inline-item"><img src="/static/image/footer/footer9.png" style="width: 10%;">
                        </li>
                        <li class="list-inline-item"><img src="/static/image/footer/footer10.png" style="width: 10%;">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright section of the footer-->
    <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
        <div class="container">
            <div class="row align-items-center">
                <!-- 여기에 추가적인 내용을 넣을 수 있습니다. -->
            </div>
        </div>
    </div>
</footer>