{% extends 'base.html' %}
{% block html_body %}
    <section class="hero-home">
        <div class="swiper-container hero-slider">
            <div class="swiper-wrapper dark-overlay">
                <div class="swiper-slide"
                     style="background-image:url(/static/image/Main/Main_photo1.jpg)"></div>
            </div>
        </div>
        <div class="container py-6 py-md-7 text-white z-index-20">
            <div class="row">
                <div class="col-xl-10">
                    <div class="text-center text-lg-left">

                        <h1 class="display-3 font-weight-bold text-shadow" style="font-family: Jua">Get a consultation
                            here</h1>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="py-6 bg-gray-100">
        <div class="container">
            <div class="text-center pb-lg-4">
                <h5 class="subtitle text-secondary" style="font-family: Jua">일상 속 힐링부터 심각한 고민까지</h5>
                <h2 class="mb-5" style="font-family: Jua">맞춤형 케어</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-3 mb-lg-0 text-center">
                    <div class="px-0 px-lg-3">
                        <div class="icon-rounded bg-primary-light mb-3">
                            <use>
                                <img src="/static/image/Main/Main_Logo1.png" alt="" class="logo-image">
                            </use>
                            </svg>
                        </div>
                        <h3 class="h5" style="font-family: Jua">상담사</h3>
                        <p class="text-muted" style="font-family: Jua">믿을 수 있는 전문가의 심리상담사! 현재 나의 마음 상태를
                            알아볼 수 있어요.</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 mb-lg-0 text-center">
                    <div class="px-0 px-lg-3">
                        <div class="icon-rounded bg-primary-light mb-3">
                            <use>
                                <img src="/static/image/Main/Main_Logo2.png" alt="" class="logo-image">
                            </use>
                            </svg>
                        </div>
                        <h3 class="h5" style="font-family: Jua">미술심리검사</h3>
                        <p class="text-muted" style="font-family: Jua">그림을 그리며 창작 할동으로 안정감도 얻어가고 내가 몰랐던 진정한 내 모습을 찾아갈수
                            있어요!</p>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 mb-lg-0 text-center">
                    <div class="px-0 px-lg-3">
                        <div class="icon-rounded bg-primary-light mb-3">
                            <use>
                                <img src="/static/image/Main/Main_Logo3.png" alt="" class="logo-image">
                            </use>
                            </svg>
                        </div>
                        <h3 class="h5" style="font-family: Jua">1대1상담</h3>
                        <p class="text-muted" style="font-family: Jua">객관적으로 내면을 마주하고 이해하는 방법으로 1대1상담을 해봐요! 내가가진 고민,걱정에
                            대한 원인을 찾아요.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="py-7">
        <div class="container">
            <div class="text-center">
                <h5 class="subtitle text-primary" style="font-family: Jua">심리상담사 목록</h5>
                <h2 class="mb-5" style="font-family: Jua">전문가 상담으로 자세히 알아봐요</h2>
            </div>

            <div class="row">
                <div class="col-md-4 offset-md-8 d-md-flex align-items-center justify-content-end">
                    <!-- 기존의 'col-md-4' 클래스를 이곳으로 이동하고 'd-flex', 'justify-content-end' 클래스를 추가 -->
                    <a class=" " href="{% url 'Counselor-list' %}" style="font-family: Jua">
                        더보기<i class="fas fa-angle-double-right ml-2"></i>
                    </a>
                </div>
            </div>
            <!-- Slider main container-->
            <div class="swiper-container testimonials-slider testimonials">
                <!-- Additional required wrapper-->
                <div class="swiper-wrapper pt-2 pb-5">
                    <!-- Slides-->
                    {% for counselor in counselors %}
                        <div class="swiper-slide px-3">
                            <div class="testimonial card rounded-lg shadow border-0">
                                <a href="{% url 'Counselor-detail' counselor.id %}">
                                    <div class="testimonial-avatar"><img class="img-fluid"
                                                                         src="/static/image/User_01.png"
                                                                         alt="...">
                                    </div>
                                </a>

                                <div class="text">
                                    <div class="testimonial-quote"><i class="fas fa-quote-right"></i></div>
                                    <p class="testimonial-text" style="font-family: Jua">이름 :
                                        {{ counselor.c_user.last_name }}{{ counselor.c_user.first_name }}</p>
                                    <strong style="font-family: Jua">전문 분야 : {{ counselor.c_department }}</strong>
                                    <p><strong style="font-family: Jua">이력서 : {{ counselor.c_resume }}</strong></p>
                                    <p><strong style="font-family: Jua">자격증 : <img
                                            src="{{ counselor.c_certificate.url }}" alt="" class="img-fluid"
                                            style="max-width: 50%; height: auto;"></strong></p>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>


    <!-- Divider Section-->
    <section class="py-6">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 d-flex justify-content-center">
                    <div>
                        <h5 class="subtitle text-primary text-center" style="font-family: Jua">유형에 맞게 골라보세요</h5>
                        <h2 style="font-family: Jua">내게 맞는 상담유형을 선택할 수 있어요</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="d-flex align-items-lg-stretch mb-1 col-lg-6">
                    <div class="card shadow-lg border-0 w-100 border-0 hover-animate"
                         style="background: center center url(/static/image/Main/Main_photo333.png) no-repeat; background-size: cover; min-height: 400px;">
                        <a class="tile-link" href="{% url 'Counselor-list' %}"> </a>
                        <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-lg-stretch mb-1 col-lg-6">
                    <div class="card shadow-lg border-0 w-100 border-0 hover-animate"
                         style="background: center center url(/static/image/Main/Main_photo222.png) no-repeat; background-size: cover; min-height: 400px;">
                        <a class="tile-link" href="{% url 'Picture-list' %}"> </a>
                        <div class="d-flex align-items-center h-100 text-white justify-content-center py-6 py-lg-7">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-6">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <h5 class="subtitle text-primary text-center" style="font-family:Jua">편리하게 이용해보세요</h5>
                    <h2 class="text-center" style="font-family: Jua">홈페이가 어렵다면 이곳을 보세요!</h2>
                </div>
            </div>
            <div class=" swiper-container guides-slider mx-n2 pt-3">
                <!-- Additional required wrapper-->
                <div class="swiper-wrapper pb-5">
                    <!-- Slides-->
                    <div class="swiper-slide h-auto px-lg-0">
                        <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a
                                class="tile-link "
                                href="category.html"></a><img
                                class="bg-image" src="/static/image/Main/Main_photo2.png" alt="Card image">
                        </div>
                    </div>
                    <div class="swiper-slide h-auto px-lg-0">
                        <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link"
                                                                                                     href="category.html"></a><img
                                class="bg-image" src="/static/image/Main/Main_photo3.png" alt="Card image">

                        </div>
                    </div>
                    <div class="swiper-slide h-auto px-lg-0">
                        <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link"
                                                                                                     href="category.html"></a><img
                                class="bg-image" src="/static/image/Main/Main_photo4.png" alt="Card image">

                        </div>
                    </div>
                    <div class="swiper-slide h-auto px-lg-0">
                        <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0"><a class="tile-link"
                                                                                                     href="category.html"></a><img
                                class="bg-image" src="/static/image/Main/Main_photo5.png" alt="Card image">

                        </div>
                    </div>

                </div>
                <div class="swiper-pagination d-md-none"></div>
            </div>
        </div>
    </section>
{% endblock %}