{% extends 'base.html' %}
{% block html_body %}
<div class="container py-7">
    <div class="overlay-content text-center ">
        <a href="{% url 'Picture-list' %}">
            <img class="img-fluid mb-4" src="/static/image/Picture-Logo.png" alt="..."
                 style="max-width: 4rem;">
        </a>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-sm-6 mb-3">
                        <figure class="figure">
                            <img class="figure-img img-fluid w-100"
                                 src="{{ article.a_tree_image.url }}" alt="{{ article.a_title }}">
                        </figure>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <figure class="figure">
                            <img class="figure-img img-fluid w-100"
                                 src="{{ article.a_man_image.url }}" alt="{{ article.a_title }}">
                        </figure>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <figure class="figure">
                            <img class="figure-img img-fluid w-100"
                                 src="{{ article.a_woman_image.url }}" alt="{{ article.a_title }}">
                        </figure>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <figure class="figure">
                            <img class="figure-img img-fluid w-100"
                                 src="{{ article.a_house_image.url }}" alt="{{ article.a_title }}">
                        </figure>
                    </div>
                </div>
                <div class="text-content">
                    <h3 style="font-family: Jua">제목 *</h3>
                    <blockquote class="blockquote blockquote-primary"><p
                            style="font-family: Jua">{{ article.a_title }}</p></blockquote>
                    <h3 style="font-family: Jua">내용 *</h3>
                    <blockquote class="blockquote blockquote-primary"><p
                            style="font-family: Jua">{{ article.a_content }}</p></blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}