{% extends 'users/User-input-form.html' %}
{% block html_user_logo %}
<img class="img-fluid mb-4" src="/static/image/Loing_logo.png" alt="..." style="max-width: 4rem;">
<h2 style="font-family: Jua">일반 회원가입</h2>
{% endblock %}
{% block html_additional_form %}
<label for="num_forms">자식분의 정보를 입력해주세요</label>
<div id="formset_container">
    {% for form in formset %}
    {% with forloop.counter as form_index %}
    <div class="form-group" style="border: 1px solid black; padding: 10px;">
        {% for field in form %}
        {% if field.field.widget.input_type != "hidden" %}
        <label class="form-label" for="{{ field.auto_id }}" style="font-family: Jua">
            {{ field.label }}
        </label>
        {{ field }} {{ field.errors }}
        {% else %}
        {{ field }} {{ field.errors }}
        {% endif %}
        {% endfor %}
    </div>
    {% endwith %}
    {% endfor %}
    {{ formset.management_form }}
</div>
<button class="btn btn-secondary" id="generate_forms" type="button">추가</button>
<button class="btn btn-secondary" id="delete_forms" type="button">삭제</button>
{% endblock %}
{% block html_hidden_form %}
<div id="empty_form" style="display:none;">
    <div class="form-group" style="border: 1px solid black; padding: 10px;">
        {% for field in empty_form %}
        {% if field.field.widget.input_type != "hidden" %}
        <label class="form-label" for="{{ field.auto_id }}" style="font-family: Jua">
            {{ field.label }}
        </label>
        {{ field }} {{ field.errors }}
        {% else %}
        {{ field }} {{ field.errors }}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}