{% extends 'users/Base-User.html' %}
{% block html_main_content %}
<div class="container-fluid px-3">
    <div class="row min-vh-100 d-flex justify-content-center align-items-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
                <div class="mb-4">
                    {% block html_signup_logo %}
                    {% endblock %}
                </div>
                <form class="form-validate" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label class="form-label" for="{{ field.auto_id }}" style="font-family: Jua">
                            {{ field.label }}
                        </label>
                        {{ field }} {{field.errors}}
                    </div>
                    {% endfor %}
                    {% block html_additional_form %}
                    {% endblock %}
                    <hr>
                    <button class="btn btn-lg btn-block btn-primary" type="submit" style="font-family: Jua">회원 가입
                    </button>
                </form>
                {% block html_hidden_form %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block html_additional_js %}
<!-- Patient Form script -->
<script src="/static/js/patient-form.js"></script>
{% endblock %}